<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ifuckedur.mom</title>
    <link rel="stylesheet" href="style/stylesheet.css">
</head>
<body>
<h1>I fucked ur mom</h1>
<h2>as well as <span id="count">...</span> other people's moms</h2>

<footer class="site-footer">
    <a href="https://paradaux.io" target="_blank">paradaux.io</a>
    <span class="separator">|</span>
    <a href="https://github.com/ParadauxIO/ifuckedur.mom" target="_blank">sauce</a>
</footer>

<script>
    const apiBaseUrl = "<%= apiBaseUrl %>";

    async function fetchCount() {
        try {
            const res = await fetch(apiBaseUrl + '/api/analytics/visits/project/ifuckedur.mom');
            if (!res.ok) throw new Error('Failed to get the moms fucked count');
            const data = await res.json();

            document.getElementById('count').textContent = data ?? '{error}';
        } catch (error) {
            console.error('Failed to fetch count:', error);
            document.getElementById('count').textContent = '{error}';
        }
    }

    fetchCount();
</script>
</body>
</html>